<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1 class="bienvenido">Bienvenido, {{ usuario.nombre }}</h1>
        <div class="links">
            <a href="{{ url_for('cine') }}">Nueva Película</a>
            <a href="{{ url_for('cerrar') }}">Cerrar Sesión</a>
        </div>
    </nav>

    <main>
        <table class="peliculas">
            <thead>
                <th>Película</th>
                <th>Director</th>
                <th>Fecha de Estreno</th>
                <th>Acciones</th>
            </thead>

            <tbody>
                {% for pelicula in peliculas %}
                <tr>
                    <td>{{ pelicula.nombre_pelicula }}</td>
                    <td>{{ pelicula.director }}</td>
                    <td>{{ pelicula.fecha_estreno.strftime('%d-%m-%Y') }}</td>
                    <td>{% if pelicula.usuario_id == session['usuario_id'] %}
                        <a href="">Ver</a>
                        <a href="">Editar</a>
                        <a href="">Borrar</a>
                        {% else %}
                        <a href="">Ver</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>