<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Película</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pelicula.css') }}">
</head>

<body>
    <nav class="navbar">
        <h1>Nueva Película</h1>
        <div class="links">
            <a href="dashboard">Inicio</a>
            <a href="">Cerrar Sesión</a>
        </div>
    </nav>

    <main>
        <form action="/pelicula/agregar" method="POST">
            <div class="nombre_pelicula">
                <label for="nombre_pelicula" class="nombre_pelicula">Nombre de la película:</label>
            <input type="text" id="nombre_pelicula" name="nombre_pelicula" required>
            </div>
            <div class="contenedor_director">
                <label for="director">Director:</label>
                <input type="text" id="director" name="director" required>
            </div>
            <div class="contenedor_fecha">
                <label for="fecha_estreno">Fecha Estreno:</label>
                <input type="date" id="fecha_estreno" name="fecha_estreno" required>
            </div>
            <div class="contenedor_sinopsis">
                <label for="sinopsis">Sinopsis</label>
                <textarea name="sinopsis" id="sinopsis"></textarea>
            </div>
            <button>Guardar Película</button>
        </form>
    </main>
</body>
</html>