<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Publicación</title>
</head>
<body>
    <section class="editar_publicacion">
        <h1>Editar Publicación</h1>
        <form action="" method="POST">
            <div class="contenedor-nombre">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
            </div>
            <div class="contenedor-fecha">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha">
            </div>
            <div class="contenedor-lugar">
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion"></textarea>
            </div>
            <button>Guardar</button>
        </form>
    </section>
</body>
</html>